* {
    margin: 0;
    padding: 0;
}

body, html {
  height: 100%;
}

.bg {
  background-image: url("https://i.ibb.co/cSQwZsQp/backgroundimage.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
    background-color: black;
    color: white;
    font-family: "Arial", sans-serif;
}
